;; Copyright (c) 2019-2021 Bastien Guerry <bzg@bzg.fr>
;; SPDX-License-Identifier: EPL-2.0
;; License-Filename: LICENSE

{:deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           com.taoensso/timbre {:mvn/version "RELEASE"}
           twttr/twttr         {:mvn/version "RELEASE"}}
 :aliases {:run {:main-opts ["-m" "core"]}}}
